:root {
  --main-bg-color: #CACAEA;
  --main-txt-color: #041036;
  font-size: 90%;
}

* {
  color:  var(--main-txt-color);
  box-sizing: border-box;
  font-size: 90%;
  }

body {
  min-width: 340px;
  background-color: var(--main-bg-color);
  line-height: 1.5;
}

nav {
  position: fixed;
  min-width: 340px;
  top: 0px;
  left: 0px;
  width: 340px;
  height: auto;
  padding: 0;
  margin: 10px 10px 0;
  text-align: left;
  background-color: #FF9B00; 
}

header {
  text-align: center;
  font-size: 2.5em;
}

 header, footer {
  background-color: #FF9B00;
  padding: 10px;
  
}

#main-doc-header{
  text-align: left;
  margin: 0px;
  
}

#navbar ul {
  border-top: 4px double var(--main-txt-color);
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li { 
  list-style: none;
  position: relative;
  width: 100%;
  font-size: 2em;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 350px;
  padding: 20px;
  margin-bottom: 310px;  
}

section article {
  font-size: 2em;
}

a.nav-link:link, a.nav-link:visited {
 text-decoration: none;
 display: inline-block;

}

a.nav-link:hover, a.nav-link:active {
  background-color: #ffc161;
}

footer {
  font-size: 0.9em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav {  
  width: 100%;
  max-height:275px;
    position: absolute;
  }
   #navbar ul {    
    height: 207px;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 275px;
  }
}
